.headerContainer {
  // background: var(--white);
  background: #4953B8;
  height: 6.5rem;

  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);


  p {
    color: #FFFF;
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  h1{
    color: #FFFF;
  }
  span {
    color: #FFFF;
    padding-right: 1.5rem;
  }
  .spanGroup {
    margin-left: auto;
  }
}